<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codingelab.tutorial">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splashActivity">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity android:name=".SearchActivityPhp" />
        <activity android:name=".Update1ActivityPhp" />
        <activity android:name=".UpdateActivityPhp" />
        <activity android:name=".Local.SearchActivityLocal" />
        <activity android:name=".Local.DeleteActivityLocal" />
        <activity android:name=".Local.Update1ActivityLocal" />
        <activity android:name=".Local.UpdateActivityLoca" />
        <activity android:name=".Local.InsertActivityLocal" />
        <activity android:name=".Local.MainActivityLocal" />
        <activity android:name=".StartActivity">

        </activity>
        <activity android:name=".DeleteActivityPhp" />
        <activity android:name=".InsertActivityPhp" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>